<div class="container-fluid">
    <div class="container d-flex flex-column flex-md-row align-items-center">
        <div class="row mt-2 mt-md-0">
            <div class="col">
                <img class="rounded-circle"
                    src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-256.png"
                    data-holder-rendered="true">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies vehicula ut id elit. Morbi leo risus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="mb-5 mt-5" />
    </div>
</div>