<div class="container-fluid p-0">
    <div class="jumbotron jumbotron-fluid jumboimage">
        <div class="row ml-3 mr-3">
            <div class="container-fluid bg-white pb-1">
                <h1 class="display-2 text-center"><strong>One Page Wonder</strong></h1>
            </div>
        </div>
        <br>
        <div class="row ml-3 mr-3">
            <div class="container-fluid bg-white pb-1">
                <h1 class="display-4 text-center"><strong>Knock Your Socks Off</strong></h1>
            </div>
        </div>

    </div>
    <div class="container">
        <hr class="mb-5 mt-5" />
    </div>
</div>